/* Error: Undefined variable.
 *     ,
 * 149 |                 color: c.$secondary -color;
 *     |                        ^^^^^^^^^^^^
 *     '
 *   sass\components\_index-main.scss 149:24  @forward
 *   sass\style.scss 3:1                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 149 \2502                  color: c.$secondary -color;\d\a     \2502                         ^^^^^^^^^^^^\a     \2575 \a   sass\\components\\_index-main.scss 149:24  @forward\a   sass\\style.scss 3:1                      root stylesheet";
}
