@use '../variables/font-sizes' as fs;
@use '../variables/colors' as c;

.header{

    &__nav{
        position: sticky;
        z-index: 1;
        

        &__list{
            display: flex;
            padding: 0;
            margin: 0;
            margin-left: 2rem;
            
            &__element{
                list-style: none;
               

                a{
                    text-decoration: none;
                    

                    p{
                        font-size: fs.$md;
                        color: c.$black;
                        font-weight: 300;
                    }
                }
                
            }

            &__element:nth-child(2){
                margin: 0 2rem;
            }
        }
    }
}