@use '../variables/font-sizes' as fs;
@use '../variables/colors' as c;

.header{
    position: sticky;
    top: 10px;
    z-index: 10;
    &__nav{
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items:center;
        z-index: 1;
    
        
        margin: 0 2rem;
        
        


        &__list{
            display: flex;
            padding: 0;
            margin: 0;
            
            &__element{
                list-style: none;

                a{
                    text-decoration: none;
                    

                    p{
                        font-size: fs.$sm;
                        color: c.$black;
                        font-weight: 300;
                        transition: all 0.2s;
                    }
                }

                &:nth-child(2){
                    margin: 0 2rem;

                    a{
                        cursor:default;
                    }
                }

                &:nth-child(1):hover,
                &:nth-child(3):hover {
                    a{
                        p{
                            transform: scale(1.2);
                            font-weight: 500;
                            color: c.$secondary-color;
                        }
                    }
                }
            }
        }


        &__name{
            p{
                font-size: fs.$lg;
                font-weight: 600;
                color: c.$primary-color;
                cursor: pointer;
            }
        }

        &__profile{

            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            &__account{
                display: flex;
                gap: 1rem;
                
                img{
                    transform: rotate(90deg);
                    
                }
            }

            &__logo{
                img{
                    width: 2rem;
                }
            }
        }
    }
}