


.main{


    &__banner_section{
        position: absolute;
        top: 0;
        width: 100vw;
        height: 99.4vh;


        img{
            width: 100%;
            height: 100%;
            background-image: rgb(0,0,0,1);
            filter: blur(4px) brightness(70%) grayscale(70%);
            
        }   

        }
    }
