@use '../mixins/media_queries' as mq;
@use '../variables/font-sizes' as fs;
@use '../variables/colors' as c;

.header{
    position: fixed;
    top: 0;
    z-index: 10;
    height: fit-content;
    transition: all 0.5s;
    top: 0;
    left: 0;
    right: 0; 
    

    &__brightness{
        background-color: c.$primary-color;
        color: c.$black;
        transition: all 0.5s ease-in;

        .header__nav{      
            margin: .5rem 0;

            @include mq.tablet{
                margin: 2rem 0 0 0;
            }
        }

        .header__nav__name p{
            color: c.$black;
        }

        .header__nav__list__element{
            &:nth-child(1):hover,
                &:nth-child(3):hover {
                    a{
                        p{
                            transform: scale(1.2);
                            font-weight: 500;
                            color: #000000;
                            border-bottom: 1px solid c.$black;
                        }
                    }
                }
        }
    }

    &__nav{        
        display: flex;
        align-items: center;
        justify-content:space-between;
        z-index: 1;
        margin: 0 2rem;
        transition: all 1s ease-in;

        @include mq.tablet{
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 3rem;
            position: relative;
        }


        &__list{
            display: flex;
            padding: 0;
            margin: 0;

            
            &__element{
                list-style: none;

                a{
                    text-decoration: none;
                    

                    p{
                        font-size: fs.$sm;
                        color: c.$black;
                        font-weight: 300;
                        transition: all 0.2s;
                        margin: 0;
                    }
                }

                &:nth-child(2){
                    margin: 0 2rem;

                    a{
                        cursor:default;
                    }
                }

                &:nth-child(1):hover,
                &:nth-child(3):hover {
                    a{
                        p{
                            transform: scale(1.2);
                            font-weight: 500;
                            color: c.$secondary-color;
                        }
                    }
                }
            }
        }

        &__name{
            @include mq.tablet{
                grid-row: 1/2;
            }

            p{
                font-size: fs.$lg;
                line-height: 0;
                font-weight: 600;
                color: c.$primary-color;
                cursor: pointer;
                margin: 5px;
                text-align: center;
            }
        }

        &__profile{

            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            

            &__account{
                display: flex;
                gap: 1rem;

                @include mq.tablet{
                    display: none;
                }
                
                img{
                    transform: rotate(90deg);
                }
            }

            &__logo{
                position: relative;
                img{
                    width: 2rem;
                }

                @include mq.tablet{
                    position: absolute;
                    inset: 0 0 0 95%;
                }

                @include mq.mobile{
                    display: none;
                }
                

                &__popup{
                    background-color: c.$primary-color;
                    position: absolute;
                    border-radius: 12px 1px 12px 12px;
                    border: 1px solid c.$black;
                    padding: 1rem;
                    right: 1px;
                    top: 50px;
                    cursor:default;

                    & p:nth-child(2){
                        color:c.$fourth-color;
                        text-decoration:underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}