@use '../variables/colors' as c;


html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb{
    background: c.$third-color;
    border-radius: 1rem;
}

body::-webkit-scrollbar-track{
    border: 2px solid #b7b7b7;
    border-radius: 12px;
}

*{
    font-family: 'Montserrat', sans-serif;
}


.inactive{
    display: none;
}
